#Header {

	position: absolute;
	z-index: 101;
	width:100%;
	background-color: #FFFFFF;

}

.menu_logo {

  width: 30%;
  margin: 2em 30em;

}

.title_1 {

  font-size: 0.4em;
  float: left;
  margin: -1em 1em;
  color: rgb(68, 148, 86);

}

.title_2 {

  font-size: 0.7em;
  float: left;
  margin: 3.5em -10em;

}

#logo {
	width: 10%;
	float: left;
	margin: 0.25em 0.4em;
}

#logo_menu_1 {

  width: 25%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);

}

#logo_menu_2 {
  
  width: 20%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);

}

#logo_menu_3 {
  
  width: 30%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);

}

#logo_menu_4 {
  
  width: 30%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);

}

#logo_menu_5 {
  
  width: 70%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);

}

#logo_menu_6 {
  
  width: 40%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);

}

			.nav_header {
		  
      width: 50%;
			margin: -1em 36em;
			
			}
			
			.nav_header ul {
			    
			    margin:0;
			    list-style: none;
			    position: relative;
			    
			    }
			
			.nav_header ul li {
			    
			    margin: 0 -0.399em 0 0;
			    display:inline-block;
			    
			    
			    }
			
			.m1 {
			    
			    padding: 1em 1.5em;
			    font-size:0.8em;
			    text-decoration:none;
         display: inline-block;
          color:black;
          line-height: 1.3em;
         text-decoration:none;
        cursor: pointer;
        position:relative;
        text-align: center;
			    
			}
			
.m1:after {

    background-color: rgb(120, 180, 188);
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    left:50%;
    bottom: 10%;
    position:absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);

}


.m1:hover:after,
.nav_header:focus:after {
    
    width: 100%;
    
}

.drawer-list {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transform: translate(100vw, 0);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
    -webkit-transform: translatex(-100vw);
      -o-transform: translatex(-100vw);
        -moz-transform: translatex(-100vw);
  box-sizing: border-box;
  pointer-events: none;
  padding-top: 125px;
  transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease;
  border-bottom-left-radius: 100vw;
 
}


.drawer-list ul {
  height: 99%;
  width: 99%;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: auto;
}
.drawer-list li {
  list-style: none;
  text-transform: uppercase;
  pointer-events: auto;
  white-space: nowrap;
  box-sizing: border-box;
  transform: translatex(100vw);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
    -webkit-transform: translatex(-100vw);
      -o-transform: translatex(-100vw);
        -moz-transform: translatex(-100vw);
}
.drawer-list li:last-child {
  margin-bottom: 2em;
}
.drawer-list li a {
  text-decoration: none;
  color: #FEFEFE;
  text-align: center;
  display: block;
  padding: 1rem;
  font-size: 1em;
}

.drawer-list li a:hover {
  cursor: pointer;
 
}

input.hamburger {
  display: none;

}
input.hamburger:checked ~ .drawer-list {
  transform: translatex(0);
  border-bottom-left-radius: 0;
}
input.hamburger:checked ~ .drawer-list li {
  transform: translatex(0);
}
input.hamburger:checked ~ .drawer-list li:nth-child(1) {
  transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(2) {
  transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(3) {
  transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(4) {
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(5) {
  transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(6) {
  transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(7) {
  transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(8) {
  transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(9) {
  transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(10) {
  transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(11) {
  transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(12) {
  transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(13) {
  transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(14) {
  transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(15) {
  transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(16) {
  transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(17) {
  transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(18) {
  transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(19) {
  transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(20) {
  transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(21) {
  transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(22) {
  transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(23) {
  transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(24) {
  transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(25) {
  transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(26) {
  transition: transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(27) {
  transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(28) {
  transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(29) {
  transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(30) {
  transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(31) {
  transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(32) {
  transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(33) {
  transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(34) {
  transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(35) {
  transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(36) {
  transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(37) {
  transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(38) {
  transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(39) {
  transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(40) {
  transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(41) {
  transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(42) {
  transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(43) {
  transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(44) {
  transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(45) {
  transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(46) {
  transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(47) {
  transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(48) {
  transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(49) {
  transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(50) {
  transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li a {
  padding-right: 15px;
}
input.hamburger:checked ~ label > i {
  background-color: transparent;
  transform: rotate(90deg);
}
input.hamburger:checked ~ label > i:before {
  transform: translate(-50%, -50%) rotate(315deg);
}
input.hamburger:checked ~ label > i:after {
  transform: translate(-50%, -50%) rotate(-315deg);
}
input.hamburger:checked ~ label close {
  color: #FEFEFE;
  width: 100%;
}
input.hamburger:checked ~ label open {
  color: black;
  width: 0;
}

label.hamburger {

  opacity: 0;
  z-index: -9999;
  position: relative;
  display: block;
  height: 25px;
  width: 40px;

}


label.hamburger > i {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  background-color: black;
  pointer-events: auto;
  transition-duration: .35s;
  transition-delay: .35s;
}
label.hamburger > i:before, label.hamburger > i:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 50%;
  background-color: black;
  content: "";
  transition: transform 0.35s;
  transform-origin: 50% 50%;
}
label.hamburger > i:before {
  transform: translate(-50%, -14px);
}
label.hamburger > i:after {
  transform: translate(-50%, 14px);
}

label.hamburger {
  position: fixed;
  top: 15px;
  right: 15px;
}

.hamburger {

  border: 1px solid white;
  
}
	

@media screen and (max-width: 320px) {
	
#Header {

  position: fixed;
  z-index: 101;
  width: 100%; 
  height: 15%;
  background-color: rgb(0, 0, 0, 0);

}

.nav_header {
    
  opacity: 0;
  z-index: -1000;
  margin: 0 1000em;
  
}

.drawer-list {
  
  opacity: 1;
  border-bottom-left-radius: 300vw;
  background-color: #3d88ce;
  background-color: #3E3D43;
  filter: alpha(opacity=80);
  height: 100vh;
  width:20em; 
  box-sizing: border-box;
  padding-top: 5em;
  margin: 0 0 0 0;

  }

.drawer-list ul {
  height: 99%;
  width:20em; 
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: auto;
}

.drawer-list li:last-child {
  margin-bottom: 0.4em;
}
.drawer-list li a {
  text-decoration: none;
  color: #FEFEFE;
  text-align: left;
  display: block;
  padding: 1rem;
  font-size: 0.85em;
}


label.hamburger {
  opacity: 1;
  margin: 0 0 0 0;
  z-index: 9999;
  position: fixed;
  
}

.hamburger_menu {

  margin: 2em 0.2em;

}

.m1:hover, 
.m2:hover {

 font-size: 0.85em;
    
}
    

.menu_logo {

  width: 100%;
  margin: 1em 0em;

}

.title_1 {

  font-size: 0.4em;
  float: none;
  margin: -1em -24em;
  color: rgb(68, 148, 86);

}

.title_2 {

  font-size: 0.6em;
  float: left;
  margin: 2em 0;

}

#logo {

  width: 15%;
  float: left;
  margin: 0.25em 0.4em;

}

#logo_menu_1 {

  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_2 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_3 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_4 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_5 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_6 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

}

@media screen and (min-width: 321px) and (max-width: 370px) {
  
#Header {

  position: fixed;
  z-index: 101;
  width: 100%; 
  height: 10%;
  background-color: rgb(0, 0, 0, 0);

}

.nav_header {
    
  opacity: 0;
  z-index: -1000;
  margin: 0 1000em;
  
}

.drawer-list {
  
  opacity: 1;
  border-bottom-left-radius: 300vw;
  background-color: #3d88ce;
  background-color: #3E3D43;
  filter: alpha(opacity=80);
  height: 100vh;
  box-sizing: border-box;
  padding-top: 5em;
  margin: 0 0 0 0;

  }

.drawer-list ul {
  height: 99%;
  width:20em; 
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: auto;
}

.drawer-list li:last-child {
  margin-bottom: 0.4em;
}
.drawer-list li a {
  text-decoration: none;
  color: #FEFEFE;
  text-align: left;
  display: block;
  padding: 1rem;
  font-size: 1em;
}


label.hamburger {
  opacity: 1;
  margin: 0 0 0 0;
  z-index: 9999;
  position: fixed;
  
}

.hamburger_menu {

  margin: 2em 0.2em;

}

.m1:hover, 
.m2:hover {

 font-size: 1em;
    
}
    

.menu_logo {

  width: 100%;
  margin: 1em 0em;

}

.title_1 {

  font-size: 0.4em;
  float: none;
  margin: -1em -24em;
  color: rgb(68, 148, 86);

}

.title_2 {

  font-size: 0.6em;
  float: left;
  margin: 2em 0;

}

#logo {

  width: 15%;
  float: left;
  margin: 0.25em 0.4em;

}

#logo_menu_1 {

  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_2 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_3 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_4 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_5 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_6 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

}

@media screen and (min-width: 371px) and (max-width: 410px)  {
	
#Header {

  position: fixed;
  z-index: 101;
  width: 100%; 
  height: 15%;
  background-color: rgb(0, 0, 0, 0);

}

.nav_header {
    
  opacity: 0;
  z-index: -1000;
  margin: 0 1000em;
  
}

.drawer-list {
  
  opacity: 1;
  border-bottom-left-radius: 300vw;
  background-color: #3d88ce;
  background-color: #3E3D43;
  filter: alpha(opacity=80);
  height: 100vh;
  box-sizing: border-box;
  padding-top: 5em;
  margin: 0 0 0 0;

  }

.drawer-list ul {
  height: 99%;
  width:20em; 
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: auto;
}

.drawer-list li:last-child {
  margin-bottom: 0.4em;
}

.drawer-list li a {
  text-decoration: none;
  color: #FEFEFE;
  text-align: left;
  display: block;
  padding: 1rem;
  font-size: 1.4em;
}


label.hamburger {
  opacity: 1;
  margin: 0 0 0 0;
  z-index: 9999;
  position: fixed;
  
}

.hamburger_menu {

  margin: 2em 0.2em;

}

.m1:hover, 
.m2:hover {

 font-size: 1.4em;
    
}
    

.menu_logo {

  width: 100%;
  margin: 1em 0em;

}

.title_1 {

  font-size: 0.4em;
  float: none;
  margin: -1em -24em;
  color: rgb(68, 148, 86);

}

.title_2 {

  font-size: 0.6em;
  float: left;
  margin: 2em 0;

}

#logo {

  width: 15%;
  float: left;
  margin: 0.25em 0.4em;

}

#logo_menu_1 {

  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_2 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);

}

#logo_menu_3 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);

}

#logo_menu_4 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);

}

#logo_menu_5 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);

}

#logo_menu_6 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);

}

}

@media screen and (min-width: 411px) and (max-width: 480px)  {
  
#Header {

  position: fixed;
  z-index: 101;
  width: 100%; 
  height: 15%;
  background-color: rgb(0, 0, 0, 0);

}

.nav_header {
    
  opacity: 0;
  z-index: -1000;
  margin: 0 1000em;
  
}

.drawer-list {
  
  opacity: 1;
  border-bottom-left-radius: 300vw;
  background-color: #3d88ce;
  background-color: #3E3D43;
  filter: alpha(opacity=80);
  height: 100vh;
  box-sizing: border-box;
  padding-top: 5em;
  margin: 0 0 0 0;

  }

.drawer-list ul {
  height: 99%;
  width:20em; 
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: auto;
}

.drawer-list li:last-child {
  margin-bottom: 0.4em;
}
.drawer-list li a {
  text-decoration: none;
  color: #FEFEFE;
  text-align: left;
  display: block;
  padding: 1rem;
  font-size: 1.5em;
}


label.hamburger {
  opacity: 1;
  margin: 0 0 0 0;
  z-index: 9999;
  position: fixed;
  
}

.hamburger_menu {

  margin: 2em 0.2em;

}

.m1:hover, 
.m2:hover {

 font-size: 1.5em;
    
}
    

.menu_logo {

  width: 100%;
  margin: 1em 0em;

}

.title_1 {

  font-size: 0.4em;
  float: none;
  margin: -1em -24em;
  color: rgb(68, 148, 86);

}

.title_2 {

  font-size: 0.6em;
  float: left;
  margin: 2em 0;

}

#logo {

  width: 15%;
  float: left;
  margin: 0.25em 0.4em;

}

#logo_menu_1 {

  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_2 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_3 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_4 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_5 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_6 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

}

@media screen and (min-width: 481px) and (max-width: 640px) {
    
  #Header {

  position: fixed;
  z-index: 101;
  width: 100%; 
  height: 15%;
  background-color: rgb(0, 0, 0, 0);

}

.nav_header {
    
  opacity: 0;
  z-index: -1000;
  margin: 0 1000em;
  
}

.drawer-list {
  
  opacity: 1;
  border-bottom-left-radius: 300vw;
  background-color: #3d88ce;
  background-color: #3E3D43;
  filter: alpha(opacity=80);
  height: 100vh;
  box-sizing: border-box;
  padding-top: 5em;
  margin: 0 0 0 0;

  }

.drawer-list ul {
  height: 99%;
  width:20em; 
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: auto;
}

.drawer-list li:last-child {
  margin-bottom: 0.4em;
}
.drawer-list li a {
  text-decoration: none;
  color: #FEFEFE;
  text-align: left;
  display: block;
  padding: 1rem;
  font-size: 2em;
}


label.hamburger {
  opacity: 1;
  margin: 0 0 0 0;
  z-index: 9999;
  position: fixed;
  
}

.hamburger_menu {

  margin: 2em 0.2em;

}

.m1:hover, 
.m2:hover {

 font-size: 2em;
    
}
    

.menu_logo {

  width: 100%;
  margin: 1em 0em;

}

.title_1 {

  font-size: 0.4em;
  float: none;
  margin: -1em -24em;
  color: rgb(68, 148, 86);

}

.title_2 {

  font-size: 0.6em;
  float: left;
  margin: 2em 0;

}

#logo {

  width: 15%;
  float: left;
  margin: 0.25em 0.4em;

}

#logo_menu_1 {

  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_2 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_3 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_4 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_5 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_6 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

}

@media screen and (min-width: 641px) and (max-width: 960px) { 

 #Header {

  position: fixed;
  z-index: 101;
  width: 100%; 
  height: 15%;
  background-color: rgb(0, 0, 0, 0);

}

.nav_header {
    
  opacity: 0;
  z-index: -1000;
  margin: 0 1000em;
  
}

.drawer-list {
  
  opacity: 1;
  border-bottom-left-radius: 300vw;
  background-color: #3d88ce;
  background-color: #3E3D43;
  filter: alpha(opacity=80);
  height: 100vh;
  box-sizing: border-box;
  padding-top: 5em;
  margin: 0 0 0 0;

  }

.drawer-list ul {
  height: 99%;
  width:20em; 
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: auto;
}

.drawer-list li:last-child {
  margin-bottom: 0.4em;
}
.drawer-list li a {
  text-decoration: none;
  color: #FEFEFE;
  text-align: left;
  display: block;
  padding: 1rem;
  font-size: 2em;
}


label.hamburger {
  opacity: 1;
  margin: 0 0 0 0;
  z-index: 9999;
  position: fixed;
  
}

.hamburger_menu {

  margin: 2em 0.2em;

}

.m1:hover, 
.m2:hover {

 font-size: 0.85em;
    
}
    

.menu_logo {

  width: 100%;
  margin: 1em 0em;

}

.title_1 {

  font-size: 0.8em;
  float: none;
  margin: -1em -20em;
  color: rgb(68, 148, 86);

}

.title_2 {

  font-size: 1em;
  float: left;
  margin: 2em 0;

}

#logo {

  width: 15%;
  float: left;
  margin: 0.25em 0.4em;

}

#logo_menu_1 {

  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_2 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_3 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_4 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_5 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_6 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

}

@media screen and (min-width: 961px) and (max-width: 1200px) {

 #Header {

  position: fixed;
  z-index: 101;
  width: 100%; 
  height: 4%;
  background-color: rgb(0, 0, 0, 0);

}

.nav_header {
    
  opacity: 0;
  z-index: -1000;
  margin: 0 1000em;
  
}

.drawer-list {
  
  opacity: 1;
  border-bottom-left-radius: 300vw;
  background-color: #3d88ce;
  background-color: #3E3D43;
  filter: alpha(opacity=80);
  height: 100vh;
  box-sizing: border-box;
  padding-top: 5em;
  margin: 0 0 0 0;

  }

.drawer-list ul {
  height: 99%;
  width:30em; 
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: auto;
}

.drawer-list li:last-child {
  margin-bottom: 0.4em;
}
.drawer-list li a {
  text-decoration: none;
  color: #FEFEFE;
  text-align: left;
  display: block;
  padding: 1rem;
  font-size: 2.5em;
}


label.hamburger {
  opacity: 1;
  margin: 0 0 0 0;
  z-index: 9999;
  position: fixed;
  
}

.hamburger_menu {

  margin: 2em 0.2em;

}

.m1:hover, 
.m2:hover {

 font-size: 2.5em;
    
}
    

.menu_logo {

  width: 50%;
  margin: 1em 0em;

}

.title_1 {

  font-size: 0.8em;
  float: none;
  margin: -1em -20em;
  color: rgb(68, 148, 86);

}

.title_2 {

  font-size: 1em;
  float: left;
  margin: 2em 0;

}

#logo {

  width: 15%;
  float: left;
  margin: 0.25em 0.4em;

}

#logo_menu_1 {

  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_2 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_3 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_4 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_5 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

#logo_menu_6 {
  
  width: 5%;
  margin: 0.25em 0.4em;
  background-color: rgb(120, 180, 188);
  opacity: 0;

}

}